@import './variable.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css);

html, body {
    overflow-x: hidden;
}

body {
    background: #f5f5f5;
    line-height: 24px;
    height: 100vh;
    font-size: 14px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    color: $font-color;
    text-decoration: none;
    box-sizing: border-box;
    :hover {
        text-decoration: none;
        cursor: pointer;
    }
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: $font-color;
    margin-bottom: 36px;
}
p {
    margin-bottom: 24px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}