@import "./variable.scss";

header {
  text-transform: uppercase;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);

  .header-top {
    padding: 0 60px;
    background-color: #7c4dff;
    display: flex;
    justify-content: space-between;
    line-height: 50px;

    .mailbox {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      
      i {
        margin-right: 8px;
        font-size: 28px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .icons {
      font-size: 20px;
      text-decoration: none;
      a {
        color: white;
      }
      i{
        margin: 0 12px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .header-bottom {
    padding: 0 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: white;

    .logo {
      font-family: 'Raleway', sans-serif;
      font-size: 28px;
      color: $black-color;
    }
    .navbar {
      padding: 0;
      ul {
        list-style-type: none;
        margin: 0;
        box-sizing: border-box;
      }
      li {
        float: left;
        box-sizing: border-box;
        &:first-child a {
          border-bottom:  5px solid #7c4dff
        } 
      }
      li a {
        display: block;
        color: $black-color;
        font-weight: 500;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;

        &:hover, &:active{
          border-bottom:  5px solid #7c4dff
        }
      }
    }
    .burger {
      display: none;
    }
    .btn-plus {
      position: absolute;
      display: flex;
      font-size: 30px;
      width: 60px;
      height: 60px;
      background-color: #7c4dff;
      color: white;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      bottom: -30px;
      right: 30px;
    }
  }
}
