@import "./variable.scss";

header {
  text-transform: uppercase;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);

  .header-top {
    padding: 0 60px;
    background-color: #7c4dff;
    display: flex;
    justify-content: space-between;
    line-height: 50px;

    .mailbox {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      
      i {
        margin-right: 8px;
        font-size: 28px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .icons {
      font-size: 20px;
      text-decoration: none;
      a {
        color: white;
      }
      i{
        margin: 0 12px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .header-bottom {
    padding: 0 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: white;

    .logo {
      font-family: 'Raleway', sans-serif;
      font-size: 28px;
      color: $black-color;
    }
    .navbar {
      padding: 0;
      ul {
        list-style-type: none;
        margin: 0;
        box-sizing: border-box;
      }
      li {
        float: left;
        box-sizing: border-box;
        &:first-child a {
          border-bottom:  5px solid #7c4dff
        } 
      }
      li a {
        display: block;
        color: $black-color;
        font-weight: 500;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;

        &:hover, &:active{
          border-bottom:  5px solid #7c4dff
        }
      }
    }
    .burger {
      display: none;
    }
    .btn-plus {
      position: absolute;
      display: flex;
      font-size: 30px;
      width: 60px;
      height: 60px;
      background-color: #7c4dff;
      color: white;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      bottom: -30px;
      right: 30px;
    }
  }
}
.sections {
  .section-about{
    padding: 72px 12px;
    font-size: 14px;

    h2 {
      text-transform: uppercase;
      margin-bottom: 36px;
      font-size: 22px;
      font-weight: 700;
    }
    h3{
      text-transform: uppercase;
      font-size:20px;
      margin-bottom: 36px;
      font-weight: 500;
      
      &.name {
        margin-bottom: 16px;
      }
    }
    h5 {
      text-transform: uppercase;
      font-size:15px;
      font-weight: 500;

      .title {
        margin-bottom: 24px;
      }
    }
    .section-img {
      max-height: 650px;
      max-width: 100%;
    }
    p {
      color: #666;
    }
    .sign {
      padding-bottom: 12px;
      border-bottom: 2px dashed #232323;
      margin: 0 18px 24px 18px;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width:14px;
        height: 14px;
        border: 4px solid #7c4dff;
        background-color: white;
        border-radius: 50%;
        bottom: -7px;
        left: -18px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width:14px;
        height: 14px;
        border: 4px solid #7c4dff;
        background-color: white;
        border-radius: 50%;
        bottom: -7px;
        right: -18px;
      }
    }
    .info {
      text-transform: uppercase;
      list-style-type: none;
      color: #666;
      padding: 0;
      margin-bottom: 48px;

      li {
        margin-bottom: 12px;
      }
    }

    .card {
      padding: 48px 0;
      flex-grow: 1;
      background-color: white;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0,0,0,.2);

      i {
        font-size: 72px;
        margin-bottom: 24px;
      }
      &:hover{
        background: #7c4dff;
        color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,.3);
      }
    }
  }
}